<ul>
    <li>Der Ball ist rund und ein Spiel dauert 90 Minuten! </li>
    <li>Der Ball ist rund. Wäre er eckig, wäre er ja ein Würfel. </li>
    <li>Wäre, wäre, Fahrradkette </li>
    <li>Ich mache nie Voraussagen und werde dies auch niemals tun. </li>
    <li>Ich bin körperlich und physisch topfit. </li>
    <li>Ich hatte vom Feeling her ein gutes Gefühl. </li>
    <li>Wir müssen gewinnen, alles andere ist primär. </li>
    <li>Ich habe ihn nur ganz leicht retuschiert. </li>
    <li>Fußball ist Ding, Dang, Dong. Es gibt nicht nur Ding. </li>
    <li>Am Ergebnis wird sich nicht mehr viel ändern. Es sei denn, es schießt einer ein Tor. </li>
    <li>Die schönsten Tore sind diejenigen, bei denen der Ball schön flach oben rein geht. </li>
    <li>Wir sind eine gut intrigierte Truppe. </li>
    <li>Das habe ich ihm dann auch verbal gesagt. </li>
    <li>Zuerst hatten wir kein Glück, und dann kam auch noch Pech dazu. </li>
    <li>Ich habe viel von meinem Geld für Alkohol, Weiber und schnelle Autos ausgegeben. Den Rest habe ich einfach verprasst. </li>
    <li>Ich bin immer sehr selbstkritisch, auch mir selbst gegenüber. </li>
    <li>Struuuunz. Was erlauben Struuuunz? </li>
    <li>Mailand oder Madrid – Hauptsache Italien! </li>
    <li>Zwei Chancen, ein Tor – das nenne ich hundertprozentige Chancenauswertung. </li>
    <li>Man darf jetzt nicht alles so schlecht reden, wie es war. </li>
    <li>Das wird alles von den Medien hochsterilisiert. </li>
    <li>Man lässt das alles nochmal Paroli laufen. </li>
    <li>Wir können so was nicht trainieren, sondern nur üben. </li>
    <li>Mal verliert man und mal gewinnen die anderen. </li>
    <li>Ich sage nur ein Wort: Vielen Dank! </li>
    <li>Ich habe es mir sehr genau überlegt und dann spontan zugesagt. </li>
    <li>Da gehe ich mit Ihnen ganz chloroform. </li>
    <li>Die Sanitäter haben mir sofort eine Invasion gelegt. </li>
    <li>Bei so einem Spiel muß man die Hosen runterlassen und sein wahres Gesicht zeigen. </li>
    <li>Das Runde muß ins Eckige. </li>
    <li>I hope, we have a little bit lucky. </li>
    <li>Es gibt nur eine Möglichkeit: Sieg, Unentschieden oder Niederlage! </li>
    <li>Ich habe fertig. </li>
    <li>Lebbe geht weida! </li>
    <li>Es war die Hand Gottes. </li>
    <li>Wir wollten in Bremen kein Gegentor kassieren. Das hat auch bis zum Gegentor ganz gut geklappt. </li>
    <li>Es muss eine Kehrtwende geben. Und die muss 360 Grad sein. </li>
    <li>Jede Seite hat zwei Medaillen! </li>
    <li>Man muss nicht immer die absolute Mehrheit hinter sich haben, manchmal reichen auch 51 Prozent. </li>
    <li>Wir waren früher härter; bei uns gab's keine Verletzungen, sondern nur glatte Brüche. </li>
    <li>Die wissen nicht einmal, dass im Ball Luft ist. Die glauben doch, der springt, weil ein Frosch drin ist. </li>
    <li>Wir müssen vor dem Tor einfach cooler sein, einfach heißer. </li>
    <li>Da mach‘ ich mir vom Kopf her keine Gedanken. </li>
    <li>Viele sehen es negativ, dass wir schlecht gespielt haben. </li>
    </ul>